version: "3"

services:
  lava:
    image: ghcr.io/nat1anwastaken/lava:latest
    build: .
    restart: always
    env_file:
      - stack.env
    volumes:
      - "./configs:/app/configs"
    depends_on:
      - lavalink
    networks:
      - lava

  lavalink:
    image: fredboat/lavalink:latest
    volumes:
      - "./configs/application.yml:/opt/Lavalink/application.yml"
    hostname: lavalink
    networks:
      - lava

networks:
  lava:
