PyNaCl==1.5.0
spotipy==2.24.0
requests==2.32.3
beautifulsoup4==4.12.3
psutil==5.9.8
disnake==2.9.2
python-dotenv==1.0.1
yt-dlp==2024.7.7
aiohttp==3.9.5
imageio==2.34.2
syncedlyrics==1.0.0
pylrc==0.1.2
colorlog
git+https://github.com/Nat1anWasTaken/Lavalink.py.git
git+https://github.com/Snipy7374/disnake-ext-paginator.git