PyNaCl==1.5.0
spotipy==2.24.0
requests==2.32.3
beautifulsoup4==4.12.3
psutil==6.0.0
disnake==2.9.2
python-dotenv==1.0.1
yt-dlp==2024.8.6
aiohttp==3.10.2
imageio==2.35.1
pylrc==0.1.2
nodriver==0.36
undetected-chromedriver==3.5.5
colorlog
git+https://github.com/Mantouisyummy/asyncedlyrics.git
git+https://github.com/Mantouisyummy/Lavalink.py.git
git+https://github.com/Snipy7374/disnake-ext-paginator.git
