name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build the Docker image
        run: docker build . --file Dockerfile -t ghcr.io/nat1anwastaken/lava:$(date +%s) -t docker.io/nat1anwastaken/lava:$(date +%s)

      - name: Login to GitHub Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin

      - name: Push to GitHub Registry
        run: docker push ghcr.io/nat1anwastaken/lava:$(date +%s)

      - name: Push to Docker Hub
        run: docker push docker.io/nat1anwastaken/lava:$(date +%s)